.chat{
    background-color: white;
    text-align: left;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    border: 1px solid grey;
}

.footer{
    background: #cccccc;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100vw;
}
.send-button{
    margin: 0 auto;
    height: 70%;
    width: 50%;
}
body{
    background-color: darkgray;
}
.send{
    float: right;
    background-size: contain;
    content: url("images/send.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin-left: 5px;
}
.chat-container{
    border: 1px solid black;
}